/* ===== Fonts ===== */
$font-header: "Avenir", "Museo Sans", Arial, "Lucida Grande", sans-serif;
$font-body: "Museo Sans";

// Weighting
$font-weight-light: 300;
$font-weight-reg: 400;
$font-weight-med: 500;
$font-weight-bold: 600;

/* ===== Fonts ===== */
$color-body: #333333;
$color-border: #ddd;
$color-brand: #006aab;

/* ===== Nav ===== */
$nav-height: 75px;
