@import "patterns";

@import "base/default";
@import "base/variables";

@import "modules/nav";
@import "modules/home";
@import "modules/resume";

#app {
  max-width: 1024px;
  margin: 0px auto;
  padding: 0px 15px;
}

a {
  text-decoration: none;
  color: $color-brand;
  font-weight: $font-weight-bold;

  &:hover {
    text-decoration: underline;
  }
}

@media screen and (min-width: 800px) {
  #app {
    padding: 0px 20px;
  }
}

@media screen and (min-width: 1025px) {
  #app {
    padding: 0px;
  }
}
