.nav {
  line-height: 60px;
}

.nav__links,
.nav__links--show {
  @include unstyled-list;
  display: none;
  text-align: center;
  font-weight: $font-weight-bold;
  font-size: 20px;
  letter-spacing: 0.9px;
  font-family: $font-body;

  &:hover {
    color: blue;
  }
}

.nav__links--show {
  display: block;
}

.nav__links-item {
  border-bottom: 1px solid $color-border;
}

.nav__links-anchor,
.nav__links-anchor--active {
  color: $color-body;
  text-decoration: none;
  padding: 20px;
}

.nav__icon {
  display: none;
}

.nav__icon--show {
  display: block;
  text-align: right;
  padding-right: 20px;
  cursor: pointer;
  font-size: 20px;
}

@media screen and (min-width: 769px) {
  .nav {
    height: $nav-height;
    line-height: $nav-height;
  }

  .nav__links {
    @include inline-list;
    text-align: right;
    display: block;
  }

  .nav__links-item {
    border: none;
  }

  .nav__links-anchor:hover,
  .nav__links-anchor--active {
    color: $color-brand;
  }
}
